<div class="min-h-screen flex items-center justify-center flex-col md:flex-row">
  <!-- Bagian kiri - Judul -->
  <div class="w-full md:w-1/2 p-10 flex flex-col items-center justify-center">
    <h2 class="text-2xl md:text-xl font-semibold mb-4 text-center">
      <span class="text-yellow-300">Cara Memesan</span> Empal Gentong Mas Khans.
    </h2>
  </div>

  <!-- Bagian kanan - Langkah-langkah -->
  <div class="w-full md:w-1/2 px-4 md:px-10">
    <ol
      class="relative border-l border-gray-200 dark:border-gray-700 p-5 md:p-10"
    >
      <!-- Langkah 1 -->
      <li class="mb-10 ml-6">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        ></div>
        <time
          class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >Langkah 1</time
        >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Pilih Menu Empal Gentong Khas Cirebon
        </h3>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
          Telusuri menu spesial kami dan pilih Empal Gentong yang sesuai dengan
          selera Anda, mulai dari Empal Gentong Original hingga pilihan porsi
          spesial.
        </p>
      </li>

      <!-- Langkah 2 -->
      <li class="mb-10 ml-6">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        ></div>
        <time
          class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >Langkah 2</time
        >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Tambahkan ke Keranjang
        </h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          Klik tombol "Tambah ke Keranjang" untuk menyimpan pilihan Anda. Jangan
          lupa untuk memilih lauk pendamping khas kami seperti tahu atau tempe.
        </p>
      </li>

      <!-- Langkah 3 -->
      <li class="ml-6">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        ></div>
        <time
          class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
          >Langkah 3</time
        >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Proses Pembayaran dan Pengiriman
        </h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
          Setelah selesai memilih, kunjungi keranjang Anda, lakukan pembayaran,
          dan tunggu pesanan Empal Gentong Cirebon Anda siap diantar langsung ke
          tempat Anda.
        </p>
      </li>
    </ol>
  </div>
</div>
