<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto p-4"
  >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="https://cdn-icons-png.flaticon.com/512/12531/12531050.png"
        class="h-8"
        alt="Logo Empal Gentong Mas Khans"
      />
      <span
        class="self-center text-lg sm:text-xl md:text-2xl font-semibold whitespace-nowrap dark:text-white"
      >
        Empal Gentong Mas Khans.
      </span>
    </a>
    <div
      class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse"
    >
      <button
        data-collapse-toggle="mega-menu-icons"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mega-menu-icons"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
    <div
      id="mega-menu-icons"
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
    >
      <ul
        class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse"
      >
        <li>
          <a
            href="#popular-menu"
            class="block py-2 px-3 text-sm sm:text-base text-black border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-yellow-300 md:p-0 dark:text-yellow-300 md:dark:hover:text-yellow-300 dark:hover:bg-gray-700 dark:hover:text--yellow-300 md:dark:hover:bg-transparent dark:border-gray-700"
          >
            Popular Menu
          </a>
        </li>
        <li>
          <a
            href="#explore-menu"
            class="block py-2 px-3 text-sm sm:text-base text-black border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-yellow-300 md:p-0 dark:text-yellow-300 md:dark:hover:text-yellow-300 dark:hover:bg-gray-700 dark:hover:text--yellow-300 md:dark:hover:bg-transparent dark:border-gray-700"
          >
            Explore Menu
          </a>
        </li>
        <li>
          <a
            href="#how-to-order"
            class="block py-2 px-3 text-sm sm:text-base text-black border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-yellow-300 md:p-0 dark:text-yellow-300 md:dark:hover:text-yellow-300 dark:hover:bg-gray-700 dark:hover:text--yellow-300 md:dark:hover:bg-transparent dark:border-gray-700"
          >
            How to Order
          </a>
        </li>
        <li>
          <a
            href="#faq"
            class="block py-2 px-3 text-sm sm:text-base text-black border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-yellow-300 md:p-0 dark:text-yellow-300 md:dark:hover:text-yellow-300 dark:hover:bg-gray-700 dark:hover:text--yellow-300 md:dark:hover:bg-transparent dark:border-gray-700"
          >
            FAQ
          </a>
        </li>
        <li>
          <a
            href="#footer"
            class="block py-2 px-3 text-sm sm:text-base text-black border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-yellow-300 md:p-0 dark:text-yellow-300 md:dark:hover:text-yellow-300 dark:hover:bg-gray-700 dark:hover:text--yellow-300 md:dark:hover:bg-transparent dark:border-gray-700"
          >
            Temukan Kami
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
