<footer class="bg-white dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="#" class="flex items-center">
          <img
            src="https://cdn-icons-png.flaticon.com/512/12531/12531050.png"
            class="h-8 me-3"
            alt="Logo Empal Gentong Mas Khans"
          />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >
            Empal Gentong Mas Khans.
          </span>
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Sumber Daya
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4"><a href="#" class="hover:underline">Blog</a></li>
            <li><a href="#" class="hover:underline">Bantuan & Dukungan</a></li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Ikuti Kami
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Facebook</a>
            </li>
            <li><a href="#" class="hover:underline">Instagram</a></li>
            <li><a href="#" class="hover:underline">TikTok</a></li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Kebijakan Privasi</a>
            </li>
            <li><a href="#" class="hover:underline">Syarat & Ketentuan</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        © 2024 <a href="#" class="hover:underline">Empal Gentong Mas Khans</a>.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0 space-x-5">
        <!-- Instagram Icon -->
        <a
          href="https://www.instagram.com/empalgentongmaskhans/?igsh=YzljYTk1ODg3Zg%3D%3D"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white flex justify-center items-center"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/4138/4138124.png"
            alt="Halaman Instagram"
            class="w-[36px] h-[36px] max-w-[36px] max-h-[36px]"
          />
          <span class="sr-only">Halaman Instagram</span>
        </a>

        <!-- TikTok Icon -->
        <a
          href="#"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white flex justify-center items-center"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/4782/4782345.png"
            alt="Halaman TikTok"
            class="w-[36px] h-[36px] max-w-[32px] max-h-[32px]"
          />
          <span class="sr-only">Halaman TikTok</span>
        </a>

        <!-- WA Icon -->
        <a
          href="https://wa.me/qr/MLGWFO2KQ3YZA1"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white flex justify-center items-center"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png"
            alt="Halaman WA"
            class="w-[36px] h-[36px] max-w-[32px] max-h-[32px]"
          />
          <span class="sr-only">Halaman WA</span>
        </a>

        <!-- Grab Food Icon -->
        <a
          href="https://food.grab.com/id/id/restaurant/empal-gentong-rosliana-kemanggisan-delivery/6-C3DCCGAANJAXTN?sourceID=20240914_190519_e09c27e4817e7d1a_MEXMPS"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white flex justify-center items-center"
        >
          <img
            src="https://food.grab.com/static/images/logo-grabfood2.svg"
            alt="Halaman Grab Food"
            class="w-[48px] h-[48px] max-w-[48px] max-h-[48px]"
          />
          <span class="sr-only">Halaman Grab Food</span>
        </a>

        <!-- Go Food Icon -->
        <a
          href="https://gofood.co.id/jakarta/restaurant/empal-gentong-rosliana-28e03888-8634-4312-8372-1c6117cfe7bc"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white flex justify-center items-center"
        >
          <img
            src="/images/GoFood.svg"
            alt="Halaman Go Food"
            class="w-[48px] h-[48px] max-w-[48px] max-h-[48px]"
          />
          <span class="sr-only">Halaman Go Food</span>
        </a>

        <!-- Shopee Food Icon -->
        <a
          href="#"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white flex justify-center items-center"
        >
          <img
            src="/images/ShopeeFood.svg"
            alt="Halaman Shopee Food"
            class="w-[48px] h-[48px] max-w-[48px] max-h-[48px]"
          />
          <span class="sr-only">Halaman Shopee Food</span>
        </a>
      </div>
    </div>
  </div>
</footer>
