<div
  class="p-10"
  id="accordion-flush"
  data-accordion="collapse"
  data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
  data-inactive-classes="text-gray-500 dark:text-gray-400"
>
  <h1 class="text-center text-2xl font-bold uppercase mb-4 mt-8">
    FAQ Empal Gentong Mas Khan
  </h1>

  <h2 id="accordion-flush-heading-1">
    <button
      type="button"
      class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
      data-accordion-target="#accordion-flush-body-1"
      aria-expanded="true"
      aria-controls="accordion-flush-body-1"
    >
      <span>Apa itu Empal Gentong?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-1"
    class="hidden"
    aria-labelledby="accordion-flush-heading-1"
  >
    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Empal Gentong adalah masakan khas Cirebon yang terdiri dari daging sapi
        yang dimasak dengan kuah santan kental dan rempah-rempah pilihan.
        Rasanya yang gurih dan kaya rempah membuat Empal Gentong menjadi
        hidangan yang sangat khas dan nikmat.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-2">
    <button
      type="button"
      class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
      data-accordion-target="#accordion-flush-body-2"
      aria-expanded="false"
      aria-controls="accordion-flush-body-2"
    >
      <span>Apakah ada menu lain selain Empal Gentong?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-2"
    class="hidden"
    aria-labelledby="accordion-flush-heading-2"
  >
    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Selain Empal Gentong, kami juga menyajikan menu spesial lainnya seperti
        Nasi Lengko, Sate, Tahu Tempe, dan berbagai lauk pendamping lainnya yang
        menggugah selera. Kami juga memiliki pilihan minuman segar untuk
        menemani santapan Anda.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-3">
    <button
      type="button"
      class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
      data-accordion-target="#accordion-flush-body-3"
      aria-expanded="false"
      aria-controls="accordion-flush-body-3"
    >
      <span>Apakah bisa melakukan pesanan untuk acara tertentu?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-3"
    class="hidden"
    aria-labelledby="accordion-flush-heading-3"
  >
    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Tentu! Kami menerima pesanan untuk acara tertentu seperti pesta,
        pertemuan, dan acara keluarga. Anda dapat memesan dalam jumlah besar
        atau paket spesial untuk kebutuhan acara Anda. Untuk informasi lebih
        lanjut dan pemesanan, silakan hubungi kami langsung atau kunjungi
        restoran.
      </p>
    </div>
  </div>

  <h2 id="accordion-flush-heading-4">
    <button
      type="button"
      class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
      data-accordion-target="#accordion-flush-body-4"
      aria-expanded="false"
      aria-controls="accordion-flush-body-4"
    >
      <span>Dimana alamat Empal Gentong Mas Khan?</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-flush-body-4"
    class="hidden"
    aria-labelledby="accordion-flush-heading-4"
  >
    <div class="py-5 border-b border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Empal Gentong Mas Khan berada di Jl. Anggrek Garuda No.h 10, RT.1/RW.5,
        Kemanggisan, Kec. Palmerah, Kota Jakarta Barat, Daerah Khusus Ibukota
        Jakarta 11480. Kami juga melayani pesan antar untuk Anda yang ingin
        menikmati hidangan kami di rumah atau kantor.
      </p>
    </div>
  </div>
</div>
